.Log{
    background-color: bisque;
    
}

.Log form{
    background-color: rgb(186, 207, 161);
    padding: 10% 10% 10% 10%;
}

.Log button{
    background-color: rgb(120, 88, 235);
}

.Log p{
    text-align: center;
}

.Log h2{
    text-align: center;
}

.Log input{
    text-align: center;
}
.Log img{
    background-color: white;
    padding: 0px;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    
    
}