.Post {
    width: 15% ;
    padding: 23px;
    text-align: center;
    border: 2px solid ;
    box-shadow: 0 2px 3px #ccc;
    margin: 5px;
    box-sizing: content-box ;
    cursor: pointer;
}

.Post:hover,
.Post:active {
    background-color: #c0f5d6;
}

.Post:drow{
    background-color: coral;
}

